%h1 Listing kru_members
.album.text-muted
  .container
    .row
      - @kru_members.each do |kru_member|
        .card
          %img{alt: 'Card image cap', src: "/images/crew/#{kru_member.image}", class: 'kruImage'}
          %p.card-text
            %h5 #{kru_member.name}
            = kru_member.bio

%br

= link_to 'New Kru member', new_kru_member_path
