.card {
  float: left;
  width: 33.333%;
  padding: .50rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  background-color: #2E2F30;
  color: #F7F7F7;
  border: 0;

}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}
