// Place all the styles related to the kru_members controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.kruImage{
  height: 275px;
  width: 275px;
  vertical-align: center;
  horiz-align: center;
}